/*--general */
*{
	box-sizing: border-box;
}
:root{
	color-scheme: light dark;
}
html{
	background: #efe;
}
@media only screen and (prefers-color-scheme: dark){
	html{
		background: #020;
	}
}

/*--shell */
body{
	margin: auto;
	max-width:92%;
	width:40em;
}
.appHeader{
	margin: 1em 0;
}
