{% extends '@TJMWikiWeb/shell.html.twig' %}
{% block content %}
{{content|raw}}
{% if isLoggedIn and path is defined %}
<footer>
	<a href="{{path('tjm_wiki_edit_file', {path: path})}}">Edit</a>
</footer>
{% endif %}
{% endblock content %}
